<!DOCTYPE html>
<html>
  <head>
    {{>head}}
  </head>
  <body>
<!--     <h1>{{ title }}</h1>
    <p>Welcome to {{ title }}</p> -->
    <div id='app'>{{{react}}}<div>
    <!-- <script type="text/javascript" src="/dist/bundle.js"></script> -->
    <!-- <script type="text/javascript" src="/dist/bundle.js"></script> -->
    <script type="text/javascript" src="/dist/bundle/commons.js"></script>
    <script type="text/javascript" src="/dist/bundle/app.js"></script>
  </body>
</html>